//https://www.ninjaunits.com/converters/pixels/pixels-rem/
//https://www.rapidtables.com/web/color/html-color-codes.html
$white: #FFFFFF;
$salmon: #f76272;
$salmon-dark: #f14358;
$fucsia: #e10079;
$papiro: #f3ecda;
$maroon: #303f62;
$header-bg-color: $salmon;
$header-text-color: $white;
$header-brand-text-color: $maroon;
$main-bg-color: $papiro;
$main-text-color: $maroon;
$main-play-text-color: $fucsia;
$main-play-icon-color: $salmon;
$main-btn-general-bg-color: $salmon;
$main-btn-general-bg-color-hover: $salmon-dark;
$main-btn-general-text-color: $white;
$main-modal-title-color: $maroon;
$footer-bg-color: $maroon;
$footer-text-color: $white;
$lato-font-family: 'Lato', sans-serif;
$open-sans-font-family: 'Open Sans', sans-serif;

